
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About</h2>

<h6>World War 2</h6>
<img src="~/Images/World War 2 rangers.jpg"  width="400" height="400"/>
<p>On 8 December 1941, the United States entered World War II the day after Pearl Harbor was attacked by Japan. At the time, Major William Orlando Darby, the founder of the modern Rangers, was assigned to be on duty in Belfast, Northern Ireland. Darby, frustrated with his lack of hands-on experience as General Russell P. Hartle's aide, was put in charge of a new unit. General George C. Marshall, Chief of Staff of the United States Army, envisioned an elite unit of fifty men selected voluntarily from the 34th Infantry Division. He believed Darby was the man to do the job. On 8 June 1942, Darby was officially put in charge of the First Ranger Battalion under General Hartle</p>

<p>On 19 August 1942, fifty Rangers fought alongside Canadian and British Commandos in the ill-fated Dieppe Raid on the coast of occupied France. Three Rangers were killed and several captured. The first American soldier killed in Europe in World War II, Ranger Lieutenant E. V. Loustalot, was part of this raid. During the mission, he took command after the British captain leading the assault was killed. Loustalot scaled a steep cliff with his men, was wounded three times, but was eventually cut down by enemy crossfire in his attempts to reach the machine gun nest at the top of the clif</p>

<h6>Korean War</h6>
<p>he outbreak of hostilities in Korea in June 1950 again signaled the need for Rangers. Fifteen Ranger companies were formed during the Korean War. The Rangers went to battle throughout the winter of 1950 and the spring of 1951. They were nomadic warriors, attached first to one Regiment and then to another. They performed "out front" work—scouting, patrolling, raids, ambushes, spearheading assaults, and as counterattack forces to regain lost positions.[16] In all six airborne Ranger companies, the 1st, 2nd, 3rd, 4th, 5th, and 8th, averaging 125 soldiers in each company served during the conflict. Two other companies, the 10th and 11th, were scheduled for Korea but were deactivated in Japan. During the course of the Korean War, 100 Rangers were killed in action and 296 were wounded in action</p>
<img src="~/Images/US Rangers USA 1.jpg"  width="400" height="400"/>
<h6>Vietnam War</h6>
<p>The history of Long Range Reconnaissance Patrol (LRRP—pronounced "Lurp"), LRP, and Ranger units deployed during the Cold War in Europe and Vietnam is based on three time periods: 1) LRRP from late 1965 to 20 December 1967; 2) LRP from late December 1967 through January 1969; and 3) Ranger from 1 February 1969, to 1972 when the Vietnam War drew down and the U.S. Vietnam Ranger units were deactivated. However, in 1974 their colors and lineage were passed to newly formed Ranger Battalions based in the United State</p>
<p>The first period above began in Vietnam in November 1966 with the creation of a provisional LRRP Detachment by the 1st Cavalry Division (Airmobile); followed by the 1st Brigade, 101st Airborne Division; the 1st Infantry Division; and the 25th Infantry Division in June 1966. General William C. Westmoreland, commander of Military Assistance Command, Vietnam (MACV), ordered the creation of provisional LRRPs in all Infantry brigades and divisions on 8 July 1966. By the winter of 1966 the 4th and 9th Infantry Divisions had operational LRRP units, and in January 1967 the 196th Light Infantry Brigade had the same. The 101st Airborne Division "main body," while still at Fort Campbell, Kentucky, converted its divisional Recondo School into a provisional LRRP unit in the summer of 1967, before the division deployed to Vietnam. This provisional company arrived in Vietnam in late November 1967</p>

<img src="~/Images/Iraq war 2.jpg"  height="300" width="300"/>
<h6>War on Terror</h6>
<p>The Regimental Special Troops Battalion (RSTB) was activated on 17 July 2006. The RSTB conducts sustainment, intelligence, reconnaissance and maintenance missions which were previously accomplished by small detachments assigned to the Regimental Headquarters and then attached within each of the three Ranger battalions. The activation of the RSTB is part of the shift of the Ranger force's focus from short term "contingency missions" towards continuous combat operations without loss in lethality or flexibility</p>
<p>
    In October 2007, a D Company was added to each of the three battalions of the 75th Ranger Regiment.

    As of 2012, the 75th Ranger Regiment is conducting sustained combat operations in multiple countries, deploying from multiple locations in the United States—an unprecedented task for the regiment. Rangers continue conducting combat operations with almost every deployed special operation force, conventional and coalition force in support of both Operation Enduring Freedom and Operation Iraqi Freedom. The Ranger Regiment executes a wide range of diverse operations that include airborne and air assaults into Afghanistan and Iraq, mounted infiltrations behind enemy lines, complex urban raids on high-value targets (HVTs), and rescue operations.
</p>