
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<p>The 75th Ranger Regiment is a lethal, agile and flexible force, capable of conducting many complex, joint special operations missions. Today's Ranger regiment is the Army's premier direct-action raid force. Each of the four geographically dispersed Ranger battalions is always combat ready, mentally and physically tough, and prepared to fight our country's adversaries. Their capabilities include conducting airborne and air assault operations, seizing key terrain such as airfields, destroying strategic facilities, and capturing or killing enemies of the nation. Rangers are capable of conducting squad through regimental-size operations and are resourced to maintain exceptional proficiency, experience and readiness. The regiment remains an all-volunteer force with an intensive screening and selection process followed by combat-focused training. The 75th Ranger Regiment is a proud unit and a team of teams - serving the nation.</p>
<img src="~/Images/US Ranger 3.jpg" width="300" height="300" />

<h6>Ranger School</h6>
<p>
    Ranger School is one of the toughest training courses for which a Soldier can volunteer. Army Rangers are experts in leading Soldiers on difficult missions - and to do this, they need rigorous training. For more than two months, Ranger students train to exhaustion, pushing the limits of their minds and bodies.

    The purpose of the Army's Ranger course is to prepare these Army volunteers - both officers and enlisted Soldiers - in combat arms related functional skills. The Rangers' primary mission is to engage in close combat and direct-fire battles.
</p>
<img src="~/Images/US Rangers 4.jpg" />

