
@{
    ViewBag.Title = "Life";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Life in the Rangers</h2>
<img src="~/Images/USA Rangers 1.jpg"  width="300" height="300"/>
<h6> ARMY RANGERS LEAD THE WAY, NO MATTER THE MISSION</h6>
<p>
   
    As the Army’s premier infantry force, becoming a Ranger is an honor shared by a distinct few. You'll specialize in conducting raids and assault missions deep inside enemy territory—a task only the best-trained can carry out in this branch of the elite Special Operations Forces.

    To become a Ranger is no easy task. You have to go through grueling training to ensure you have the mental toughness, physical fitness, moral character, and motivation to endure the challenges you’ll face in the field.
</p>

<h6>RANGER ASSESSMENT AND SELECTION (RASP)</h6>
<p>This intense, eight-week course has two phases, followed by graduation as an Army Ranger.</p>
<img src="~/Images/US Rangers 4.jpg" />
<h6>
    PHYSICAL AND PSYCHOLOGICAL TESTING
</h6>
<p>In Phase 1, you’ll go through physical and psychological tests, and be assessed on your strength of character and leadership ability. This phase includes a 12-mile ruck march with a 35-pound dry ruck-sack in full uniform, land navigation exercises, medical first responder tests, and a psychological screening.</p>